/* ADD YOUR STYLES HERE */
.table1 {
   width:80%;
   text-align:center;
}
.border_bottom_table1 {
       border-bottom: 1px #cccccc solid;
       padding-top: 5px;
   }

.table2 {
   width:80%;
   text-align:center;
}
.border_bottom_table2{
       border-bottom: 1px #cccccc solid;
       padding-top: 5px;
   }
   .statstable {
       border-top:1px #cccccc solid;
       border-bottom:1px #cccccc solid ;
   }
.stats1 {
    text-align:center;
    padding:20px;
}
.statsnumbers {
    font-weight:bold;
    font-size:20px;
}
.statswords {
    font-size:5px;
    
}